@import url("https://fonts.googleapis.com/css2?family=Chivo:wght@400;700&display=swap");
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;  
}

body {
  font-family: 'Chivo', sans-serif;
  font-size: 1.6rem;
  color: #000000;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #000000;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img {
  width: 100%;
  max-width: 100%;
}

section {
  padding: 5rem 0;
}

.container {
  width: 100%;
  padding: 0 1.5rem;
  max-width: 144rem;
  margin: 0 auto;
}

.w-120 {
  max-width: 120rem;
}

.w-105 {
  max-width: 105rem;
}

.btn {
  border-radius: .5rem;
  padding: 1.2rem;
}

/*Header */
header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 2;
}

.header__nav {
  padding: 2rem 1.5rem;
  margin: auto;
  display: flex;
  align-items: center;
}

.header__logo {
  flex: 2;
}

.header__logo img {
  max-width: 12rem;
}

.header__nav__content {
  flex: 8;
  display: flex;
  align-items: center;
}

.header__nav__content.open {
  transform: translateX(0);
}

.header__menu {
  flex: 4;
  display: flex;
  grid-gap: 2.5rem;
}

.menu__link {
  cursor: pointer;
  transition: .2s all;
}

.menu__link:hover {
  color: #66BB6A;
}

.menu__link.active {
  color: #66BB6A;
  font-weight: bold;
}

.btn__signup {
  border: 1px solid #ffffff;
  font-size: 1.6rem;
  color: #ffffff;
  /*
    Button hover effect resource
    https://codepen.io/alticreation/pen/zBZwOP
    */
  display: inline-block;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.btn__signup:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: -2;
}

.btn__signup:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #66BB6A;
  transition: all .3s;
  z-index: -1;
}

.btn__signup:hover {
  color: #ffffff;
}

.btn__signup:hover:before {
  width: 100%;
}

.hamburger-menu-wrap {
  position: absolute;
  top: 3rem;
  right: 2rem;
  cursor: pointer;
  z-index: 1;
  display: none;
}

.hamburger-menu {
  width: 2rem;
  height: 2rem;
  display: flex;
  grid-row-gap: .2rem;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
}

.hamburger-menu .line {
  background-color: #66BB6A;
  height: .3rem;
  width: 100%;
  transition: all 0.3s;
}

.nav-close-icon {
  position: relative;
  padding: 3rem 2rem;
  height: 2.5rem;
  cursor: pointer;
  display: none;
}

.nav-close-icon:before, .nav-close-icon:after {
  position: absolute;
  content: '';
  width: 4px;
  right: 4rem;
  height: 40%;
  background-color: #ffffff;
}

.nav-close-icon:before {
  transform: rotateZ(45deg) translate(0.5rem, -1rem);
}

.nav-close-icon:after {
  transform: rotateZ(-45deg) translate(1rem, 0.5rem);
}

/*End Header */
/*End Hero */
.hero {
  margin: auto;
  height: 100vh;
}

.hero__content {
  display: flex;
}

.hero__text {
  margin-top: 10rem;
  max-width: 50rem;
}

.hero__title {
  font-size: 4.8rem;
  margin-top: 5rem;
}

.hero__description {
  font-size: 1.8rem;
  padding: 0.5rem;
  line-height: 1.3;
  margin: 2.8rem 0 5rem;
  color: #263238;
}

.btn__hero {
  border: 1px solid #66BB6A;
  color: #ffffff;
  font-size: 1.8rem;
  box-shadow: 1px 10px 30px -10px #66bb6a;
  /*
    Button hover effect resource
    https://codepen.io/alticreation/pen/zBZwOP
    */
  display: inline-block;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.btn__hero:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #66BB6A;
  z-index: -2;
}

.btn__hero:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #ffffff;
  transition: all .3s;
  z-index: -1;
}

.btn__hero:hover {
  color: #66BB6A;
}

.btn__hero:hover:before {
  width: 100%;
}

.hero__img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.hero__img img {
  max-height: 100vh;
  width: initial;
}

/*End Hero */
/*Opportunities*/
.opportunities {
  position: relative;
}

.opportunities__img {
  position: absolute;
  left: -1.5rem;
  top: -16rem;
  z-index: -1;
}

.opportunities__img img {
  max-height: 55rem;
  max-width: 16rem;
}

.opportunities__content {
  margin: auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 5rem;
  border-bottom: 2px solid #f7f7f7;
  margin-bottom: 4rem;
}

.opportunities__head {
  text-align: center;
  max-width: 70rem;
  margin: 0 auto 10rem;
}

.opportunities__title {
  font-size: 3.6rem;
  color: #000000;
}

.opportunities__description {
  margin-top: 2.5rem;
  font-size: 1.8rem;
  font-weight: 400;
  color: #263238;
}

.opportunities__body {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 2.5rem;
  align-self: baseline;
}

.opportunity {
  width: 30%;
  background-color: #ffffff;
  border-radius: .5rem;
  filter: drop-shadow(0 0 0.75rem rgba(27, 31, 35, 0.15));
  padding: 5rem 2.5rem 2.5rem;
  transition: all 0.3s ease-out;
}

.opportunity.active {
  background-color: #66BB6A;
}

.opportunity.active .opportunity__title,
.opportunity.active .opportunity__description {
  color: #ffffff;
}

.opportunity:hover {
  transform: translateY(-2rem);
}

.opportunity__icon {
  max-height: 5.6rem;
  width: initial;
}

.opportunity__title {
  font-size: 1.8rem;
  color: #263238;
  margin: 2.5rem 0;
}

.opportunity__description {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3;
  color: #263238;
  padding: 0.5rem;
}

/*End Opportunities*/

.testimonials__head {
  position: relative;
  margin: auto;
  padding: 2rem 2rem 0;
}

.testimonials__title {
  font-size: 3.6rem;
  max-width: 45rem;
}


/* our_product */
  .our_product{
    max-width: max-content;
    padding: 1%;
    text-align: center;
  }
  .our_product h3{
    font-size: 4.8rem;
    color:#45b94b;
    text-shadow: 1px 1px 2px #000300;
  }

.testimonials__body {
  margin: 5rem auto 4rem;
  width: 90%;
  overflow: hidden;
  padding: 2rem 0;
  position: relative;
}

.testimonials__body::before, .testimonials__body::after {
  position: absolute;
  content: '';
  top: 0;
  width: 10%;
  height: 100%;
  z-index: 1;
}

.testimonials__body::before {
  left: 0;
  filter: drop-shadow(5rem 0 4rem #ffffff);
}

.testimonials__body::after {
  right: 0;
  filter: drop-shadow(-5rem 0 4rem #ffffff);
}

.testimonials__list {
  display: flex;
  grid-gap: 2rem;
  position: relative;
}

.testimonial {
  flex-shrink: 0;
  width: 28%; /* Adjusted to show 4 items in a row */
  padding: 2.5rem;
  background-color: #ffffff;
  filter: drop-shadow(0 0 0.75rem rgba(27, 31, 35, 0.15));
  transition: transform .3s ease;
}

 .testimonial img {
  max-width: 100%; 
  /* Ensure images scale properly */
  max-height: 100%;
  object-fit: cover;
   /* Maintain image aspect ratio */
   filter: drop-shadow(0 0 0.5rem #66BB6A);
} 

.testimonial:hover {
  transform: scale(1.1);
  z-index: 1;
}

.testimonials__footer {
  margin: auto;
}

.testimonials__directions {
  display: flex;
  grid-gap: 1.5rem;
}

.btn__testimonials {
  border-radius: 50%;
  cursor: pointer;
  pointer-events: auto;
  padding: 1.5rem;
  outline: none;
  border: none;
  background-color: #66BB6A;
  color: #ffffff;
  box-shadow: 1px 10px 30px -10px #66bb6a;
}

.test_description{
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  font-size: 1.8rem;
  line-height: 1.3;
  color: #324148;
}

.btn__testimonials.disable {
  background-color: #ffffff;
  opacity: 0.5; /* Visual feedback */
  pointer-events: none;
  color: #263238;
}

/* Button for "View All" */
.btn_view {
  left: 89%;
}

@media screen and (max-width: 768px) {
  
  .btn_view{
    left: 23%;
  }
}

/*End Testimonials*/
/*Farm Invest */
.farm-invest {
  margin: auto;
  padding: 5rem 2.5rem;
  text-align: center;
  background-color: #ffffff;
  filter: drop-shadow(0 0 0.75rem rgba(27, 31, 35, 0.15));
  margin-bottom: 10rem;
}

.farm-invest__title {
  font-size: 3.6rem;
  line-height: 1.3;
}

.farm-invest__title span {
  color: #66BB6A;
}

.btn__farm--invest {
  border: 1px solid #66BB6A;
  color: #ffffff;
  display: inline-block;
  min-width: 25rem;
  margin-top: 4rem;
  box-shadow: 1px 10px 30px -10px #66bb6a;
  /*
    Button hover effect resource
    https://codepen.io/alticreation/pen/zBZwOP
    */
  display: inline-block;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.btn__farm--invest:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #66BB6A;
  z-index: -2;
}

.btn__farm--invest:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #ffffff;
  transition: all .3s;
  z-index: -1;
}

.btn__farm--invest:hover {
  color: #66BB6A;
}

.btn__farm--invest:hover:before {
  width: 100%;
}

/*End Farm Invest*/
/*Footer*/
.footer {
  position: relative;
}

.footer__body {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  grid-gap: 2.5rem;
  align-items: baseline;
  padding-bottom: 5rem;
  border-bottom: 2px solid #f7f7f7;
}

.footer__nav {
  display: flex;
  flex-wrap: wrap;
  flex: 9 2 auto;
  grid-row-gap: 2.5rem;
}

.footer_nav__menu {
  flex-basis: 33%;
}

.footer_nav__item {
  padding: 1rem 2.5rem;
}

.footer_nav__menu__title {
  font-size: 1.6rem;
  text-transform: uppercase;
}

.footer_nav__link {
  font-size: 1.6rem;
  color: #607D8B;
  transition: .2s all;
}

.footer_nav__link:hover {
  color: #66BB6A;
}


.btn__signin {
  margin-top: 1.5rem;
  border: 1px solid #ffffff;
  color: #66BB6A;
  /*
    Button hover effect resource
    https://codepen.io/alticreation/pen/zBZwOP
    */
  display: inline-block;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.btn__signin:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: -2;
}

.btn__signin:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #66BB6A;
  transition: all .3s;
  z-index: -1;
}

.btn__signin:hover {
  color: #ffffff;
}

.btn__signin:hover:before {
  width: 100%;
}

.footer__bottom__content {
  margin-top: 5rem;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin: 5rem auto 0;
  padding-bottom: 10rem;
}

.footer_copyright {
  color: #607D8B;
  font-size: 1.4rem;
  text-align: center;
}

.footer_img {
  position: absolute;
  bottom: 0;
  right: 1.5rem;
  max-width: 50rem;
}

/* products cards start */
.container_card {
  display: flex;
  flex-wrap: wrap; /* Allows wrapping to the next line */
  justify-content: space-evenly; /* Spacing between items */
  gap: 20px; /* Adds space between rows */
  padding: 20px;
}
.card {
  height: auto; /* Adjusts height dynamically based on content */
  width: calc(33.33% - 40px); /* Ensures 3 cards per row */
  flex-direction: column;
  margin: 20px 0; /* Adds vertical spacing */
  border-radius: 5px;
  box-shadow: 2px 4px 8px rgb(103, 102, 102);
  transition: 0.8s;
  display: flex;
  align-items: center;
}
.desc {
  padding: 10px;
  text-align: center;
}
.card_img{
  width: 100%; /* Ensures the image fits the card */
  height: 100%;
  padding-top: 60px;
  max-width: 300px; /* Limits the maximum image width */
  border-radius: 5px 5px 0 0;
}
.card:hover {
  box-shadow: 4px 4px 16px #017107;
}
/* products card end */
/* add responsiveness to card */
@media (max-width: 768px) {
  .card {
      width: calc(50% - 40px); /* Two cards per row */
  }
}
@media (max-width: 480px) {
  .card {
      width: 100%; /* One card per row */
  }
}
/* end */
/*End Footer*/
@media screen and (max-width: 950px) {
  /*Header */
  .hamburger-menu-wrap,
  .nav-close-icon {
    display: block;
  }
  .header__nav__content {
    flex: initial;
    align-items: initial;
    position: fixed;
    top: 0;
    right: 0;
    width: 30rem;
    height: 100vh;
    background-color: #66BB6A;
    z-index: 2;
    flex-direction: column;
    transform: translateX(40rem);
    transition: transform 0.3s ease-in-out;
    grid-gap: 2.5rem;
  }
  .header__menu {
    flex-direction: column;
    flex: initial;
    align-items: center;
  }
  .menu__link {
    color: #ffffff;
  }
  .menu__link:hover, .menu__link.active {
    color: #ffffff;
  }
  .header__signup {
    flex: initial;
    justify-content: center;
  }
  /*End Header */
  /*Hero */
  .hero__content {
    justify-content: center;
    text-align: center;
  }
  .hero__img {
    display: none;
  }
  /*End Hero */
  /*Testimonials*/
  .testimonial {
    width: 50%;
  }
    .testimonials__head {
        text-align: center;
    }

    .testimonials__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    .btn_view {
        position: relative;
        display: block;
        margin-top: 1rem;
        text-align: right;
        left: auto;
        right: 0;
        width: fit-content;
    }

    .testimonials__content {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .testimonials__footer {
        display: flex;
        justify-content: flex-end;
    }
  /*End Testimonials*/
}

.left_arrow{
  position: absolute;
  /* top: 110px;
  left: 8px; */
  z-index: 1000;
}
.btn_left {
  color: #45b94b; 
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  position: fixed;
  top: 10px;
  left: 10px;
}
.btn_left:hover {
  color: #2c8631;
}

@media (max-width: 480px) {
  .btn_left {
      font-size: 16px;
      padding: 6px 10px;
  }
}

@media screen and (max-width: 768px) {
  /* Opportunities*/
  .opportunity {
    width: 100%;
  }
  /*End Opportunities*/
  /*How Is Works*/
  .form_progressbar {
    grid-column-gap: 7rem;
    justify-content: center;
  }
  .progressbar__step {
    width: 4.8rem;
    height: 4.8rem;
  }
  .progressbar__step:not(:first-child)::before, .progressbar__step:not(:first-child)::after {
    width: 7rem;
  }
  .works__step__content {
    flex-direction: column;
  }
  .works__step_title {
    font-size: 2rem;
    text-align: center;
  }
  /*End How Is Works*/
  /*Testimonials*/
  .testimonials__body::before, .testimonials__body::after {
    background-color: transparent;
  }
  .testimonials__list {
    padding-left: 1.5rem;
  }
  .testimonial {
    width: calc(100% - 3rem);
    word-wrap: break-word;
  }
  .testimonial:hover {
    transform: initial;
  }
  /*End Testimonials*/
  /*Footer*/
  .footer_nav__menu {
    text-align: center;
  }
  .footer__bottom__content {
    flex-direction: column;
    grid-row-gap: 4.5rem;
    align-items: center;
  }
  /*end Footer*/
  /* products left arrow button  */
  .btn_left {
    font-size: 18px;
    padding: 8px 12px;
  }
}

@media screen and (max-width: 500px) {
  /*Global*/
  .opportunities__title,
  .invest__title,
  .works__title,
  .testimonials__title,
  .farm-invest__title {
    font-size: 3rem;
  }
  .invest__description,
  .works__description {
    font-size: 1.6rem;
  }
  /*End Global*/
  /*Hero*/
  .hero__title {
    font-size: 3.2rem;
  }
  /*End Hero*/
  /*Opportunities*/
  .opportunities__img {
    top: -8rem;
  }
  .opportunities__img img {
    max-height: 40rem;
    max-width: 10rem;
  }
  .opportunity__icon {
    width: inherit;
  }
  /*End Opportunities*/
  /*Invest Section*/
  .invest__body {
    grid-template-columns: repeat(auto-fill, minmax(32rem, 1fr));
  }
  .invest__item__title {
    font-size: 2.4rem;
  }
  /*End Invest Section*/
  /*Testimonials*/
  .testimonials {
    margin-top: 10rem;
  }
  /*End Testimonials*/
  /*Footer*/
  .footer_nav__menu {
    text-align: left;
  }
  .footer__contact {
    width: 100%;
  }
  /*End Footer*/
}

@media screen and (max-width: 360px) {
  /*Invest Section*/
  .invest__body {
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  }
  /*End Invest Section*/
  /*How Is Works*/
  .progressbar__step {
    width: 4rem;
    height: 4rem;
  }
  /*End How Is Works*/
  /*Testimonials */
  .testimonial__profile {
    flex-direction: column;
    text-align: center;
  }
  /*End Testimonials*/
  /*Farm Invest*/
  .btn__farm--invest {
    width: 80%;
    min-width: initial;
  }
  /*End Farm Invest*/
}

/* shopnowalert btn*/
.swal2-popup {
  background-color: #e8f5e9 !important; /* Light Peach Background */
  color: #4a4a4a !important; /* Dark Gray Text */
  border-radius: 12px; /* Rounded Corners */
}

.swal2-title {
  color: #45b94b !important; /* Green Title */
  font-size: 24px;
}

.swal2-html-container {
  color: #333 !important; /* Dark Text for Content */
  font-size: 17px;
}

.swal2-confirm {
  background-color: #27ae60 !important; /* Green Button */
  color: white !important;
  border-radius: 8px;
  padding: 10px 20px;
}

.swal2-confirm:hover {
  background-color: #219150 !important; /* Darker Green Hover */
}

/*# sourceMappingURL=main.css.map */